datasets~=2.17.0
fsspec==2023.6.0
ipython>=8.10
ipykernel>=6.29.1
jupyterlab>=3.0
kedro~=0.19.2
kedro-datasets>=1.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
nltk~=3.8.1
notebook
pytest~=7.2
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
ruff~=0.1.8
scikit-learn~=1.5.0
transformers
transformers[sentencepiece]
